@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  a:link {
    text-decoration: none;
  }
}

#app {
  background-color: #55588b;
  .wrapper {
    height: 100%;
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
::-webkit-scrollbar {
  width: 0px !important;
}

h1 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.card-desc {
  width: 100%;
}

.v-stepper:not(.v-stepper--vertical) .v-stepper__label {
  display: block !important;
}
.v-stepper__step {
  padding: 24px 0 !important;
}

.v-stepper__label {
  font-size: 14px;
}
